{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <form method="POST" action="/recibir">            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Código</label>
                <input type="text" class="form-control" name="codigo" placeholder="código">
              </div>     
              
              <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre completo">
              </div>  
              <br>           
            <input type="submit" name="enviar" class="btn btn-primary"/><br/>
        </form>
    </div>
{% endblock  %}